<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Employees</h1>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.emailId}}</td>
        <td>
          <button class="btn btn-info p-1 m-1" (click)="deleteEmployee(employee.id)">Delete</button>
          <button class="btn btn-info p-1" (click)="edit(employee)">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

